.goto-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /* @media (max-width: ${({ theme }) => theme.media.mobile}) {
    .top-btn {
      right: 0;
      left: 40%;
    }
  } */
}

.top-btn {
    font-size: 1rem;
    width: 4rem;
    height: 4rem;
    color: #fff;
    background-color: #be123dba;
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.2s;
}

.top-btn:hover {
    
    color: #be123c;
    background-color: #374151;
    transition-duration: 0.2s;
    
}

/* .top-btn-icon {
    animation: gototop 1.2s linear infinite alternate-reverse;
    @keyframes gototop {
        0% {
            transform: translateY(-0.5rem);
            transform: scale(2);

        }
        100% {
            transform: translateY(1rem);
        }
    }
} */
