::-webkit-scrollbar {
  width: 0.7em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: #aabddc3b;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #840424;
  border: 0.15em solid #ab1138;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b0e29;
  border: 0.15em solid #b6153d;
}

