@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
::selection {
    color: #e82556;
    background: #aabddc1f;
    font-size: large;
}

input:-webkit-autofill {
    border: 1px solid #be123d74;
    -webkit-text-fill-color: #be123c ;
    -webkit-box-shadow: 0 0 0px 1000px #aabddc1e inset;
    transition: background-color 5000s ease-in-out 0s;
}